# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.joblib

# Environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / Outputs
logs/
outputs/
artifacts/
*.log

# Data (keep raw data out of git by default)
data/
